@model IEnumerable<ProductViewModel>
@{}
<h3>Listagem de produtos</h3>
<div class="jumbotron">
    <ul>
        @foreach (var product in Model) {
            <li>@product.Name</li>
        }
    </ul>
</div>
